.order-placed-container {
    display: flex;
    justify-content: center;
    margin-top:10px;
    height: 50vh;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
  }
  
  .order-placed-content {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 32px;
    max-width: 600px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .order-placed-content h2 {
    color: #28a745;
    margin-bottom: 16px;
  }
  
  .order-placed-content p {
    color: #555;
    margin: 8px 0;
  }
  
  .order-summary {
    margin-top: 20px;
    text-align: left;
  }
  
  .order-summary h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .order-summary p {
    color: #555;
    margin: 4px 0;
  }
  
  .continue-shopping-button {
    margin-top: 20px;
    background-color: #800080;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .continue-shopping-button:hover {
    background-color: #800080;
  }
  