.paragraph-container {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  text-align: center; /* Center the content */
}

.paragraph-container p {
  margin: 0 0 10px 0;
  font-size: 16px;
  color: #333;
}

.paragraph-container button {
  padding: 5px 10px; /* Make the button smaller */
  font-size: 14px; /* Make the button text smaller */
  color: #800080;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px; /* Add some space between the paragraph and the button */
}

.paragraph-container button:hover {
  background-color: #0056b3;
}
