.product-details {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 80%;
    background-color: #fff;
  }
  
  .product-details h2 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .estimated-delivery {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  
  .estimated-delivery::before {
    content: "🚚";
    margin-right: 8px;
  }
  
  .product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  
  .product-image {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .product-description {
    flex-grow: 1;
  }
  
  .product-description p {
    margin: 5px 0;
    color: #333;
  }
  
  .product-description p:first-child {
    font-weight: 600;
    font-size: 16px;
  }
  
  .product-description p:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
  }
  
  .edit-button {
    background-color: transparent;
    color: #800080; /* meesho brand color */
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .edit-button:hover {
    text-decoration: underline;
  }
  
  .product-details p {
    margin: 5px 0;
  }
  
  .product-details p:last-child {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: #333;
  }
  